@using BD_Project.Models;
@model List<Interogare1>
@{
    ViewBag.Title = "Interogare3";
}
<h2> Clientul cu cele mai multe comenzi</h2>

@foreach (var x in Model)
{
    <p>
        <div class="textedit">

            Nume:  @x.client.Nume ;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Prenume:  @x.client.Prenume ;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            Nr_comenzi:  @x.count ;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <br />
        </div>
    </p>

}