
@{
    ViewBag.Title = "Administrare";
}


<h2>Administrare</h2>


<div class="casute">


    <div class="bla">
        Informatii Cont <br /> 
        <a href="/ClientXAdress/CreareCont">Adauga Cont</a>
        <br />
        <a href="/Cont/ListaConturi">Lista Conturi</a>
    </div>

    <br />
    <br />


    <div class="bla">
        Informatii Bicicleta <br />
        <a href="/Bicicleta/AdaugaBicicleta">Adauga Bicicleta</a>
        <br />
        <a href="/Bicicleta/ListaBiciclete">Lista Biciclete</a>
    </div>

    <br />
    <br />


    <div class="bla">
        Informatii Centru <br /> 
        <a href="/CentruXAdress/CreareCentru">Adauga Centru</a>
        <br />
        <a href="/Centru/ListaCentre">Lista Centre</a>
    </div>

    <br />
    <br />

    <div class="bla">
        Interogare Simpla 1 <br />
        <a href="/SimpleQuery/InterogareUnu">Interogare 1</a>
        <br />
    </div>

    <div class="bla">
        Interogare Simpla 2 <br />
        <a href="/SimpleQuery/InterogareDoi">Interogare 2</a>
        <br />
    </div>

    <div class="bla">
        Interogare Simpla 3 <br />
        <a href="/SimpleQuery/InterogareTrei">Interogare 3</a>
        <br />
    </div>

    <br />
    <div class="bla">
        Interogare complexa 1 (fara parametrii) <br />
        <a href="/ComplexQueryNoParam/InterogareUnu">Interogare 1 Complexa</a>
        <br />
    </div>
    <div class="bla">
        Interogare complexa 2 (fara parametrii) <br />
        <a href="/ComplexQueryNoParam/InterogareDoi">Interogare 2 Complexa</a>
        <br />
    </div>

    <br /><br />

    <div class="bla">
        Interogare complexa 3 (cu parametrii) <br />
        <a href="/ComplexQueryWithParam/InterogareUnu">Interogare 3 Complexa</a>
        <br />
    </div>
    <div class="bla">
        Interogare complexa 4 (cu parametrii) <br />
        <a href="/ComplexQueryWithParam/InterogareDoi">Interogare 4 Complexa</a>
        <br />
    </div>
</div>
