
@{
    ViewBag.Title = "Administrare";
}


    <h2>Administrare</h2>


    <div class="casute">


        <div class="bla">
            <a href="/ClientXAdress/CreareCont">Adauga Cont</a>
            <br />
            <a href="/Cont/ListaConturi">Lista Conturi</a>
        </div>



    </div>
